/* vitesse colors by antfu */
@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: #d4cfbf;
        --color-background: #1e1e1e;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-foreground: #393a34;
        --color-background: #fbfbfb;
    }
}

:root {
    color-scheme: light dark;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
}